<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<!-- bower:css -->
	<!-- endbower -->
	<link rel="stylesheet" href="../bower_components/ruban/css/ruban-print.min.css" media="print" />
	<!-- bower:js -->
	<!-- endbower -->
	<script>
		$( document ).ready(function() {
			new Ruban();
		});
	</script>
</head>

<body>

<% if (firstSlide) {%>
<section>
	<div>
		<h1><%= title %></h1>
		<p><small><%= author %></small></p>
		<small><i class="fa fa-twitter"></i><a href="http://www.twitter.com/<%= twitter %>"> <%= twitter %></a></small>
	</div>
</section>
<% } %>

</body>
</html>